.navbar-brand img{
    height: 5%;
    width: 70%;
    
}
.big-img{
    background-image:o;
}
h1{
    font-family: 'Oswald', sans-serif;
    color: rgb(43, 43, 97);
}
h4{
    font-family: 'Oswald', sans-serif;
 
}
.top-section-offer-card{
    margin-top: 10rem;
}
.offer-card{
    border: 0;
    border-radius: 2em;
}
.offer-card-box{
    border-radius: 10px;
    padding: 10px;
}
.penguin-card{
    border: 0;
}
.penguin-card-footer{
    background-color: white;
    border: 0;

}
.penguin-card img{
    background-color: whitesmoke;
    border-radius: 1em;
    size: 100%;
    margin: 5%;
    height: 320px;
    width: 320px;
}
section{
    margin-bottom: 10rem;
}
